<a href="https://colab.research.google.com/github/ipark3/Hank-Ian/blob/main/GitHub%20Project/dataset/code/exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploring the Relationship Between Air Quality and Health Issues

## Introduction
This project aims to explore the relationship between air quality and respiratory issues, specifically how pollutants contribute to increased cardiovascular disease. By analyzing this dataset, we hope to raise awareness of the growing dangers associated with pollution in our ever-expanding world.

## 1. Data Loading and Inspection
We begin by loading the dataset and inspecting its structure to understand the features available for analysis.

In [36]:

import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Personal/NCHS_-_Leading_Causes_of_Death__United_States.csv')

df.head()

# Define the specific value you want to filter by
value = 'CLRD'
value2 = 'Influenza and pneumonia'

# Filter rows with the specified value in the 'cause' column
filtered_df = df[df['Cause Name'] == value]
filtered_df2 = df[df['Cause Name'] == value2]

# Display the filtered DataFrame
print(filtered_df)
print(filtered_df2)

       Year                                113 Cause Name Cause Name  \
208    2017  Chronic lower respiratory diseases (J40-J47)       CLRD
209    2017  Chronic lower respiratory diseases (J40-J47)       CLRD
210    2017  Chronic lower respiratory diseases (J40-J47)       CLRD
211    2017  Chronic lower respiratory diseases (J40-J47)       CLRD
212    2017  Chronic lower respiratory diseases (J40-J47)       CLRD
...     ...                                           ...        ...
10551  1999  Chronic lower respiratory diseases (J40-J47)       CLRD
10552  1999  Chronic lower respiratory diseases (J40-J47)       CLRD
10553  1999  Chronic lower respiratory diseases (J40-J47)       CLRD
10554  1999  Chronic lower respiratory diseases (J40-J47)       CLRD
10555  1999  Chronic lower respiratory diseases (J40-J47)       CLRD

               State  Deaths  Age-adjusted Death Rate
208    United States  160201                     40.9
209          Alabama    3484                     57.8
210           Alaska     204                     35.9
211          Arizona    3802                     42.7
212         Arkansas    2517                     66.7
...              ...     ...                      ...
10551       Virginia    2699                     43.8
10552     Washington    2713                     51.2
10553  West Virginia    1236                     57.9
10554      Wisconsin    2270                     40.5
10555        Wyoming     338                     75.6

[988 rows x 6 columns]
       Year                     113 Cause Name               Cause Name  \
364    2017  Influenza and pneumonia (J09-J18)  Influenza and pneumonia
365    2017  Influenza and pneumonia (J09-J18)  Influenza and pneumonia
366    2017  Influenza and pneumonia (J09-J18)  Influenza and pneumonia
367    2017  Influenza and pneumonia (J09-J18)  Influenza and pneumonia
368    2017  Influenza and pneumonia (J09-J18)  Influenza and pneumonia
...     ...                                ...                      ...
10708  1999  Influenza and pneumonia (J09-J18)  Influenza and pneumonia
10709  1999  Influenza and pneumonia (J09-J18)  Influenza and pneumonia
10710  1999  Influenza and pneumonia (J09-J18)  Influenza and pneumonia
10711  1999  Influenza and pneumonia (J09-J18)  Influenza and pneumonia
10712  1999  Influenza and pneumonia (J09-J18)  Influenza and pneumonia

               State  Deaths  Age-adjusted Death Rate
364    United States   55672                     14.3
365          Alabama    1176                     20.2
366           Alaska      66                     11.7
367          Arizona     876                     10.1
368         Arkansas     720                     19.8
...              ...     ...                      ...
10708       Virginia    1594                     27.1
10709     Washington    1259                     23.7
10710  West Virginia     520                     25.0
10711      Wisconsin    1425                     24.6
10712        Wyoming     130                     30.0

[988 rows x 6 columns]

In [35]:


import pandas as pd

df = pd.read_excel('/content/drive/MyDrive/Personal/P_Data_Extract_From_World_Development_Indicators.xlsx')

value = 'United States'

filtered_df = df[df['Country Name'] == value]

print(filtered_df)

                                           Series Name        Series Code  \
206  PM2.5 air pollution, mean annual exposure (mic...  EN.ATM.PM25.MC.M3

      Country Name Country Code 1990 [YR1990] 2000 [YR2000] 2014 [YR2014]  \
206  United States          USA     14.104067     12.756295      8.510127

    2015 [YR2015] 2016 [YR2016] 2017 [YR2017] 2018 [YR2018] 2019 [YR2019]  \
206      8.190742       7.40835      7.790406      7.822007      7.176021

    2020 [YR2020] 2021 [YR2021] 2022 [YR2022] 2023 [YR2023]
206      7.814858            ..            ..            ..

In [53]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Personal/Air_Quality.csv')

df.head()

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
0,179772,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,409.0,Southeast Queens,2015,01/01/2015,0.3,NaN
1,179785,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,209.0,Bensonhurst - Bay Ridge,2015,01/01/2015,1.2,NaN
2,178540,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,209.0,Bensonhurst - Bay Ridge,Annual Average 2012,12/01/2011,8.6,NaN
3,178561,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409.0,Southeast Queens,Annual Average 2012,12/01/2011,8.0,NaN
4,823217,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409.0,Southeast Queens,Summer 2022,06/01/2022,6.1,NaN